:root {
  --max-site-width: 1920px;
  --gutter: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #111;
}

.site-wrapper {
  width: 100%;
  max-width: var(--max-site-width);
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  overflow-x: hidden;
}

.hero-fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: linear-gradient(90deg, #7dd3fc, #c7f9ff);
  padding: 60px 0;
}

.hero {
  width: 1920px;
  height: 880px;
  background-image: url("/assets/image/Rectangle.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
}

.hero-text {
  position: absolute;
  text-align: center;
  color: white;
  width: 566px;
  top: 351px;
  left: 677px;
  gap: 12px;

  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}
.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 600;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.hero-text-btn {
  background: rgba(84, 84, 84);
  width: 120px;
  height: 48px;
  top: 635px;
  left: 900px;
  padding: 15px 23px 15px 23px;
  margin: 25px;
  border-radius: 10px;
  border: none;
  color: white;
  gap: 3px;
  align-items: center;
}

#hero-img {
  width: 16px;
  height: 16px;
}
/* Main Navbar */
.navbar {
  width: 100%;
  max-width: var(--max-site-width);
  height: 104px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  background: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
}

/* inner wrapper */
.nav-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left side */
.nav-left {
  padding-left: 300px;
  text-align: center;
}

.company-name {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

/* Right side (desktop) */
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 300px;
}

.nav-menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
}

/* Button */
.nav-btn {
  padding: 10px 28px;
  font-size: 16px;
  background: #313438;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 34px;
  cursor: pointer;
  padding-right: 40px;
}

.latest-sfx {
  width: 6479px;
  max-width: 1920px;
  margin: 0 auto;
  background: #fefefe;
  position: relative;
  top: -70px;
  z-index: 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 80px;
}

.latest-sfx-header {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  padding: 20px;
  align-items: center;
}

.latest-sfx-header h1 {
  font-size: 56px;
  font-weight: 700;
}

.sfx-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.sfx-right p {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
}

.sfx-buttons {
  display: flex;
  gap: 10px;
}

.sfx-buttons button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: rgba(234, 239, 242);
  color: rgb(105, 104, 104);
}

#all-sfx-btn {
  background: #111;
  color: white;
}

#sfx-img {
  width: 20px;
  height: 20px;
}
.card-section {
  padding: 40px var(--gutter);
  max-width: 1920px;
  margin: 0 auto;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background: rgb(248, 250, 251);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  padding-top: 24px;
  flex-direction: column;
  gap: 30px;
}

/* Image + Text Side by Side */
.card-content {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 24px;
}

.card-img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}

.card-text h3 {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.card-text p {
  font-size: 14px;
  color: #555;
}

/* Audio Player Full Width */
.audio-player {
  width: 100%;
  border-radius: 12px;
  width: calc(100% - 48px); /* left+right padding 24px */
  margin: 0 24px 16px 24px; /* top/bottom spacing + side padding */
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 0; 
}

.button-group button {
    background-color: rgb(234, 239, 242);

  flex: 1;
  padding: 8px 12px;
  width: 140px;
  height: 56px;
  cursor: pointer;
  font-size: 14px;
}

#card-btn1 {
  border-color: #fefefe;
  border-left: 1px;
  border-top: 0;
  border-bottom: 0;
  border-bottom-left-radius: 16px;
}

#card-btn2 {
  border-color: white;
  border-left: 1px;
  border-top: 0;
  border-bottom: 0;
}

#card-btn3 {
  border: none;

  border-bottom-right-radius: 16px;
}

.popular-sound-section {
  width: 1920px;
 height: auto;
  border-radius: 60px;
  padding: 80px 300px 80px 300px;
  background-color: rgba(248, 242, 234, 1);

}
.popular-heder{

  display : flex;
  justify-content: space-between;
text-align: left;

}
.popular-title {
  font-size: 60px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;

  
}


.popular-subtitle {
  font-size: 20px;
  color: #666;
}



.popular-btn {
  width: 195px;
  height: 48px;
  padding: 10px 32px 10px 32px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.popular-btn:hover {
  opacity: 0.8;
}

.popular-grid {
  display: grid;
  grid-template-columns: repeat(4, 312px);
  grid-template-rows: repeat(2, 280px);
  gap: 20px;
}

/* all boxes same style */
.sfx-box {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.sfx-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sfx-text {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}


.box-1 {
  grid-column: span 2; /* 1st row 1-2 column */
}




.box-8 {
  grid-column: span 2; /* 2nd row 3-4 column */
  background-color: #111;
}

/* Responsive */
@media (max-width: 768px) {
  .popular-grid {
    grid-template-columns: 1fr;
  }
  .box-2, .box-8 {
    grid-column: span 1;
  }
}



.unique-sfx-section {
  width: 1920px;
  background: #fefefe;      
  padding: 0px 300px 80px 300px;
  box-sizing: border-box;
  align-items: center;
  margin-top: 80px;
}




.unique-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.unique-desc {
  font-size: 18px;
  color: #555;
  margin-top: 0;
  text-align: center;
}


@media (max-width: 1024px) {
  .unique-sfx-section {
    padding: 60px 150px;
  }
}







.unique-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(424px, 1fr));
  gap: 20px;
  margin-top: 60px;
}

.sfx-card {
  background:rgb(247, 250, 252);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 2px;
}

.unique-card-header{
  display: flex;
  justify-content: space-between;
}

.unique-add-file{
  width: 52px;
  height: 36px;
  background-color: rgba(234, 239, 242, 1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
text-align: center;
  padding: 3px;
  cursor: pointer;
}

.unique-card-img {
  width: 100%;
  height: 324px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-info h3 {
  font-size: 20px;
  font-weight: 600;
}

.card-info p {
  font-size: 16px;
  color: #666;
}

.read-more-btn {
  width: 376px;
  height: 48px;
  margin-top: auto;
  padding: 12px;
  font-size: 16px;
background:rgb(230, 235, 242);
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 1024px) {
  .unique-sfx-section {
    padding: 60px 24px;
  }
}

@media (max-width: 768px) {
  .section-header h1 {
    font-size: 36px;
  }
  .section-header p {
    font-size: 16px;
  }
}


/* @media (max-width: 768px) {
  .sound-header {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 40px 20px;
  }

  .sound-btn {
    width: 180px;
  }
}
 */




/* Responsive */
@media (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
  .card-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .button-group {
    flex-direction: column;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .card {
    height: auto;
    padding: 12px;
  }
  .card-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card-img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  .button-group {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .latest-sfx-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .sfx-right {
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
  }
  .nav-left {
    padding-left: 40px;
  }
  .hero {
    height: 600px;
  }

  .nav-right {
    padding-right: 40px;
  }

  .hero-text {
    max-width: 600px;
    padding: 16px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-right {
    position: absolute;
    top: 104px;
    right: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    display: none;
  }

  .nav-right.active {
    display: flex;
  }

  .nav-menu {
    flex-direction: column;
    gap: 16px;
  }

  .nav-left {
    padding-left: 20px;
  }

  .hero {
    height: 400px;
  }

  .hero-text {
    max-width: 90%;
    padding: 12px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .latest-sfx {
    padding: 60px 16px 40px;
  }
  .latest-sfx-header h1 {
    font-size: 36px;
  }
  .sfx-right p {
    font-size: 14px;
  }
  .sfx-buttons button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

/* Responsive */
@media (max-width: 1200px) {
  :root {
    --gutter: 20px;
  }
  .hero-fullwidth {
    padding: 48px 0;
  }
}

@media (max-width: 768px) {
  :root {
    --gutter: 16px;
  }
  .site-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero-fullwidth {
    padding: 32px 0;
  }

  .cards-grid {
    grid-template-columns: 1fr;
  }
}
